<html>

<head>
    <title>Dojo Survey Survey</title>
</head>

<body>
    <h3>Submitted Information</h3>
    <ul>
        <li>Name: <%= info.name %></li>
        <li>Dojo Location: <%= info.location %></li>
        <li>Favorite Language: <%= info.language %></li>
        <li>Comment: <%= info.comment %></li>
    </ul>
    <a href='/'><input type="button" value="Go Back"></a>
    
</body>

</html>