.button1{
    background-color: violet;
    font-size: 16px;
}
.button2{
    background-color: blueviolet;
    font-size: 16px;
}
.button3{
    background-color: cornflowerblue;
    font-size: 16px;
}
.button4{
    background-color: rgb(203, 21, 232);
    font-size: 16px;
}
img{
    max-height: 145px;
    max-width: 145px;
}
.products{
    border: 6px double cornflowerblue;
    padding: 6px;
    width: 250px; 
}